<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo" href="index.html">NEWS APP</label>
		<ul>
			<li><a href="#">LATEST</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">ACCOUNT</a></li>
		</ul>
	</nav>
	<div class="blog-card">
		<div class="meta">
		  <div class="photo" style="background-image: url(https://static.toiimg.com/thumb/msid-95557833,imgsize-797716,width-400,resizemode-4/95557833.jpg)"></div>
		  <ul class="details">
			<li class="author"><a href="#">News tracker</a></li>
			<li class="date">Aug. 24, 2015</li>
		  </ul>
		</div>
		<div class="description">
		  <h1 class="title">How to connect your EB connection with Aadhaar in Tamil Nadu</h1>
		  <h2>Updated: Nov 16, 2022, 17:07 IST</h2>
		  <p> Tangedco has begun the process of linking domestic c ..</p>
		  <p class="read-more">
			<a href="https://timesofindia.indiatimes.com/city/chennai/tangedco-begins-linking-power-consumers-service-connection-with-aadhaar/articleshow/95557777.cms">Read More</a>
		  </p>
		</div>
	</div> 
	<div id="lst"></div>
	<script>
		window.watsonAssistantChatOptions = {
		  integrationID: "62d18cd1-058a-450e-957e-03e827a2314a", // The ID of this integration.
		  region: "au-syd", // The region your integration is hosted in.
		  serviceInstanceID: "78964af2-6638-44d6-b6f9-0e89fd9527e1", // The ID of your service instance.
		  onLoad: function(instance) { instance.render(); }
		};
		setTimeout(function(){
		  const t=document.createElement('script');
		  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
		  document.head.appendChild(t);
		});
	  </script>
	  <script src="/static/api.js"></script>
</body>
</html>